::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #FBFBFB;
}
.login-form {
    width: 96%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

.login-form1 {
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    width: 96%;
    max-width: 300px;
    height: 40px;
    text-align: center;
}

.login-form2 {
    background-color: #2196f3;
    margin: 0 auto;
    color: white;
    border: none;
    border-radius: 100px;
    width: 96%;
    max-width: 300px;
    height: 40px;
    text-align: center;
}

.login-form2:hover {
    background-color: #5ab1f8;
}

.login-form2:active {
    background-color: #1177ca;
}

@media screen and (min-width:10px) {
    .indexname {
        font-size: 18px;
        color: white;
        font-weight: bold;
        text-shadow: 1px 1px 1px #00000098;
    }
    .background-image {
        width: 100%;
        position: relative;
    }
    .login-info {
        width: 8em;
        text-align: center;
        height: auto;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-left: -4em;
    }
    .login-info span {
        font-size: 28px;
    }

    .background-image {
        width: 100%;
        height: 0;
        height: 400px;
        overflow: hidden;
    }
    .background-img {
        width: 100%;
        z-index: -1;
        margin-top: 0px;
        height: 100%;
        object-fit: cover;
    }
}