html,body{
    background-color:#ffffff !important;
}
::-webkit-scrollbar {
    display: none;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
span{
    cursor: pointer;
}
.top{
    width: 100%;
    height: 50px;
    margin-top: -50px;
    z-index: 1;
    position: relative;
}
#top-bar{
    z-index: 2;
}
.fixfloat{
    clear: both;
}

.viewimg {
    width: 80px;
    overflow: hidden;
    border-radius: 4px;
}

.img-shell {
    float: left;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-right: 10px
}

.delete {
    background-color: #00000096;
    border-radius: 50%;
    position: absolute;
    top: 0!important;
    right: 0!important;
    filter: invert(0%)!important;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
}
#per,#the,#gen,#pri,#oth,.cursor{
    cursor: pointer;
}
.delete1{
    float:right;
    padding-right:10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #2196f3;
    background: none;
    color:#2196f3;
    padding-left: 10px;

}
/*----------------450px-------------------*/
@media screen and (min-width:0px) {

    .settingsbody{
        width: 96%;
        max-width: 600px;
        margin: 0 auto;
        padding-left: 2%;
        padding-right: 2%;
    }
    .set_title{
        float: left;
        color: #565656;
    }
    .set_title img{
    width: 20px;
    margin-bottom: -3px;
    margin-right: 4px;
    }
    .set_title-right{
        float: right;
        padding: 20px;
        margin-top: -20px;
        margin-right: -20px;
    }
    .set_panel{
        width: 90%;
        padding:5%;
        height: 45px;
        border-radius: 5px;
        overflow: hidden;
        background-color: white;
    }
    .shuoming{
        font-size: 10px;
        font-weight: 100;
        color: #686868;
        display: inline-block;
    }
    .dddd{
        width: 90%;
        padding:5%;
        border-radius: 5px;
        background-color: white;
        text-align: center;
        font-size: 15px;
    }
    .save{
        outline: none;
        border: none;
        width: auto;
        height: auto;
        padding: 8px 30px;
        border-radius: 45px;
        color: white;
        font-size: 1em;
        font-weight: 600;
        margin-right: 2%;
    }
    .save1{
        outline: none;
        border: none;
        width: auto;
        height: auto;
        padding: 8px 30px;
        border-radius: 45px;
        color: white;
        font-size: 1em;
        font-weight: 600;
        margin-right: 2%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .set-text-input{
        border: none;
        outline: none;
        background-color: #e8f0fe;
        border-radius: 5px;
        width: 50%;
        padding: 5px 0;
        color: #707070;
    }
    .set-text-name{
        border: none;
        outline: none;
        background-color: #e8f0fe;
        border-radius: 5px;
        width: 20%;
        padding: 5px 0;
        float: left;
        color: #707070;
    }
    .set-text-mos{
        border: none;
        outline: none;
        background-color: #e8f0fe;
        border-radius: 5px;
        width: 10%;
        padding: 5px 0;
        color: #707070;
    }
    .set-text-sige{
        border: none;
        outline: none;
        background-color: #e8f0fe;
        border-radius: 5px;
        width: 10%;
        padding: 5px 0;
        float: left;
        color: #707070;
    }
    option{
        border: none;
        border-radius: 5px;
    }
    .upimg{
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 999;
        height: 32px;
        width: 60%;
    }
    .upimgshell{
        width: 60%;
        height: 100%;
        border: 1px solid #03a9f4;
        box-sizing: border-box;
        top: 0;
        position: absolute;
        z-index: 1;
        border-radius: 5px;
        position: relative;
        text-align: center;
        line-height: 30px;
        color: #03a9f4;
    }
    .upfix{
        width: 60%;
        height: 32px;
        float: left;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .item-p{
        width: 60%;
        display: inline-block;
    }
    .set_general_sina{
        max-width: 335px;
    }
}
/*----------------880px-------------------*/
@media screen and (min-width:550px) {
    .set_panel {
        height: 35px;
    }
    .set_general_sina{
        max-width: 400px;
    }
}
/*----------------1600px-------------------*/
@media screen and (min-width:800px) {
    .set_general_sina{
        max-width: 460px;
    }
}